<nav class="fixed top-0 left-0 w-screen h-[60px] bg-slate-800 text-white">
  <ul class="container w-full h-full flex flex-row items-center gap-8 mx-auto">
    <a routerLink="/home"><li>Home</li></a>
    <a routerLink="/users"><li>Users</li></a>
  </ul>
</nav>

<div class="w-screen h-screen overflow-x-hidden flex flex-col">
  <div class="p-8 mt-[50px] flex-1">
    <router-outlet></router-outlet>
  </div>

  <footer class="py-3">
    <h3 class="text-center font-medium uppercase text-green-400 hover:text-yellow-400 transition-all duration-300 ease-linear text-2xl ">
      Designed By Nguyễn Trung Kiên
    </h3>
  </footer>
</div>
